<div id="influence">
<p>
Thanks for your interest in my projects. If you have a question or feedback about any of my projects, use <a href="https://github.com/briggs599/briggs599/discussions">GitHub Discussions</a> and let me know what you think.
    
Follow me or star this repos to add yourself to the community and receive future updates. 
</p>

  <details>
  <summary>Community ({{ supporter_count }})</summary>
  <div>&nbsp;</div>
  <div id="supporters">
{% for supporter in supporters %}
<a href="https://github.com/{{ supporter }}">{{ supporter }}</a>
{% endfor %}
  </div>
  </details>

  <a href="https://github.com/briggs599?tab=followers"><img alt="GitHub Followers" src="https://img.shields.io/github/followers/briggs599?label=Follow&style=social"></a>
  <a href="https://github.com/briggs599/briggs599/stargazers"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/briggs599/briggs599?label=Star&style=social"></a>
</div>